body {
  margin: 0;
  padding: 0;
  background:url("Raksono.github.io/IMG_7101.jpg");
  background-repeat: no-repeat;
  background-size: center;
  background-position: center;
  background-color: #cccccc;
  height: 1600px;
  width: 1200px;
  font-family: sans-serif;
  
  }
