body {
  margin: 0;
  padding: 0;
  background:url("Raksono.github.io/IMG_7101.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #cccccc;
  font-family: sans-serif;
  
  }
